.blogs-container{
    width: calc(100% - 112px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding-bottom: 40px;
}
.blogs-container > *:nth-child(n+4) {
    margin-top: 2%;
}
.pages {
    width: 100%;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
    cursor: pointer;
}

.pagination li a {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}

.pagination li.active a {
    background-color: #3498db;
    color: #fff;
    border-color: #3498db;
}

.pagination li.previous a,
.pagination li.next a {
    font-weight: bold;
}
@media (max-width:768px){
    .blogs-container > *:nth-child(n+3) {
        margin-top: 2%;
    }
}
@media (max-width:500px){
     
    .blogs-container > *:nth-child(n+2) {
        margin-top: 2%;
    }
}