.blogs-container{
    width: calc(100% - 112px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding-bottom: 40px;
}
.blogs-container > *:nth-child(n+4) {
    margin-top: 2%;
}
.pages {
    width: 100%;
    align-content: center;
}
@media (max-width:768px){
    .blogs-container > *:nth-child(n+3) {
        margin-top: 2%;
    }
}
@media (max-width:500px){
     
    .blogs-container > *:nth-child(n+2) {
        margin-top: 2%;
    }
}