.header{
    position: sticky;
    top: 0;
    background-color: #32325d;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header .logo{
    padding-left: 56px;
    margin-right: 50px;
}

.header a{
    text-decoration: none;
    color: #b5b7ed;
}
ul{
    list-style-type: none;
}
.header .active{
    color: aliceblue;
}
.navbar .navbarDesktop{
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    font-weight: 550;
    font-size: 14px;
    padding-right: 56px;
}
.navbar .navbarDesktop a{
    color: white;
}
.navbarMobile {
    position: relative;
    display: none;
    padding-right: 56px;
}
.dropbutton {
    background-color: #32325d;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.dropdownList {
    display: none;
    position: absolute;
    background-color: #0a0a3b;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 10px 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}
.dropdownList a {
    display: block;
    padding: 10px 2px;
    color: #333;
}
.navbarMobile:hover .dropdownList {
    display: block;
    opacity: 1;
}
.dropdownList a:hover {
    background-color: #e0e0e0;
    color: #333;
}
.navbarMobile{
    display: none;
}
.changelang{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}
.dropButtonLng {
    background-color: #ececf1;
    color: #32325d;
    padding: 5px;
    border: none;
    cursor: pointer;
}
@media (max-width:768px){
    .navbar .navbarDesktop{
        display: none;
    }
    .navbarMobile{
        display: inline-block;
    }
}
@media (max-width:400px){
    .header{
        flex-direction: column;
    }
    .navbarMobile {
        padding-left: 56px;
    }
}