.footer{
    background-color: #32325d;
    color: #fff;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer a{
    color: #fff;
    text-decoration: none;
}
.footerStart{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 56px;
    margin-right: 50px;
}
.footerStart img{
    width: 150px;

}
.footerStart .icons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footerStart .icons img{
    border: 1px solid #fff;
    padding: 10px;
    width: 15px;
    height: 15px;
    box-sizing: content-box;
}

@media (max-width:500px){
    .footer{
        flex-direction: column;
    }
}
