.blogsContainer{
    width: calc(100% - 112px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding-bottom: 40px;
}
.blogsContainer > *:nth-child(n+4) {
    margin-top: 2%;
}
.pages {
    width: 100%;
    align-content: center;
}

.title{
    width: calc(100% - 120px);
    background-color: #fff;
    padding: 30px;
    margin: 56px;
    color: black;
    font-size: 35px;
}
@media (max-width:768px){
    .blogs-card{
        width: 49%;
    }
  
}
@media (max-width:670px){
    .blogs-card .details h2{
        font-size: 20px;
    }
    .blogs-card .details p{
        margin-top: 10px;
        font-size: 10px;
    }
}
@media (max-width:500px){
    .blogs-card {
        width: 100%;
    } 
}
@media (max-width:768px){
    .blogsContainer > *:nth-child(n+3) {
        margin-top: 2%;
    }
}
@media (max-width:500px){
     
    .blogsContainer > *:nth-child(n+2) {
        margin-top: 2%;
    }
}